@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");

:root {
  --black: #000;
  --white: #fff;
  --font: "Gruppo", cursive;
  --btn_color: #4c5e76;
  --lighter_btn: #596775;
  --light_hover: #676d72;
  --background: #121212;
}

::placeholder{
  color: var(--white);
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font);
  background-color: var(--background);
  color: var(--white);
  font-size: 1.3rem;
}



.line-split {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,21,255,1) 20%, rgba(36,144,250,1) 34%, rgba(0,255,246,1) 51%, rgba(0,130,251,1) 66%, rgba(0,21,255,1) 80%, rgba(0,0,0,1) 100%);
  height: 5px;
  margin: 2rem 0;
}
/*******************************************NAVBAR******************************************/

nav {
    font-size: 90%;
    padding: 2rem;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  nav li:first-child {
    flex-basis: 100%;
    text-align: center;
  }
  
  nav a {
    color: var(--white);
    text-decoration: none;
    display: block;
  }
  
  nav a:before {
    content: "[";
    margin-right: 10px;
    display: inline-block;
    opacity: 0;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
  }
  
  nav a:after {
    content: "]";
    margin-left: 10px;
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  
  nav a:hover:before,
  nav a:hover:after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
  }
  
/*******************************************CARDS******************************************/

h2 {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 3.5rem;
}

.card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  cursor: pointer;
  margin: 1rem auto;
  border: 1.5px solid var(--lighter_btn);
  border-radius: 50%;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.active .card-inner {
  transform: rotateY(180deg);
}

.card img, .card-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top:0;left:0;right:0;
  border-radius: 50%;
}

.card-img-overlay {
  transform: rotateY(180deg);
  background: var(--background);
  border: 1px solid var(--white);
  color:var(--white);
  border-radius: 50%;
}

.card-img-overlay h3 {
  font-size: 2rem;
  margin: 1.5rem 0; 
}

.card-img-overlay p{
  font-size: 1rem;
}

.pluto_header {
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
}

.pluto_text {
  font-size: 1.3rem;
  width: 50%;
  text-align: center;
  margin: auto;
}

.pluto_img {
  display: block;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  margin: 2rem auto;
}
    
/******************************************RESPONSIVITY*************************************/

@media (min-width: 850px) {
    nav {
      max-width: 1450px;
      margin: 0 auto;
}
  
    nav li:first-child {
      flex-basis: auto;
      text-align: left;
      margin-right: auto;
    }

    .pluto_img {
      display: block;
      width: 30%;
      height: 30%;
      border-radius: 50%;
      margin: 2rem auto;
    }
}
